body{
    justify-content: center;
    display: flex;
    margin-top: 20%;
    background-image: url(lightblue01.jpg);

}
.container{
    background-color:white;
    padding:20px;
    border-radius: 8px;
    box-shadow: 10px 10px 15px 22px lightblue;
    height: 20%;
    max-width: 400px;
    width: 100%;
    text-align: center;

}
h2{
    font-family:cursive;
    margin-bottom: 20px;
    color: #333;
}
.input_group{
    margin-bottom: 15px;
    text-align: left;
}
.input_group label{
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.input_group input{
    width: 100%;
    padding: 3px;
        
}
button{
    width: 25%;
    padding: 6px;
    background-color:rgb(100, 178, 204);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}
button:hover {
    background-color: #2a0b9a;
}